{% extends 'blog/base.html' %}

{% block header %}

<title> {{ post.title }} </title>

{% endblock %}

{% block content %}

<h3>{{ post.title }}</h3>
<p>{{ post.content|linebreaksbr }}</p>
<hr>
<p>Published by {{ post.author }}, {{ post.last_modified }}</p>
<hr>
{% if post.comments.all %}
<p>Comments:</p>
<ul>
    {% for comment in post.comments.all %}
        <li>{{ comment.content|linebreaksbr }}</li>
    {% endfor %}
</ul>
{% else %}
<p>There are not any comments</p>
{% endif %}

<hr>
<p>likes: {{ post.count_of_likes }} | dislikes: {{ post.count_of_dislikes }}</p>


<hr>
<p>Adding new comment:</p>
<form method="POST" action=".">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="hidden" name="source" value="comment_form">
    <input type="submit" value="Send">
</form>
<hr>
<p>Adding new Like:</p>
<form method="POST" action=".">
    {% csrf_token %}
    {{ like_form.as_p }}
    <input type="hidden" name="source" value="like_form">
    <input type="submit" value="Send">
</form>

{% endblock %}